@font-face{font-family:'Calluna';
 src:url('/static/font/callunasansregular-webfont.woff') format('woff');
}
body {
	text-align: center;
  	font-family: Calluna, Arial, sans-serif;
}
.photo{
	width: 50px;
	height:50px;
}
#results {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#results figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#results figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#results figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#results small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#results small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#results:hover figure:not(:hover) {
	opacity: 0.8;
}

@media screen and (max-width: 750px) {
  #results { column-gap: 0px; }
  #results figure { width: 100%; }
}

